html {
    background-color: rgba(23, 194, 194, 0.733)
}

.sectionheader{
    background-color: seagreen;
    border-style: groove;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.dicerow{
    background-color: grey;
    padding:10px;
    border-style: groove; 
    margin: auto;
    width: 80%;
    display:flex;
    justify-content: space-between;
}

.resultsrow{
    background-color: grey;
    font-size:50px;
    padding:10px;
    border-style: groove;
    margin: auto;
    width:80%;
    display:flex;
    justify-content: space-between;
}

.buttons{
    background-color: black;
    color: silver;
    height: 100px;
    width: 100px;
    font-size: 2rem;
}

.results {
    height: 100px;
    width:100px;
    border:groove;
    text-align: center;
    line-height: 100px;
    height:100px;
}

#reset{
    margin:auto;
    display: block;
}

header {
    font-size: 100px;
}

#d6button {
    background-image: url("images/dice-clipart-six-6.png");
    background-size: cover;
    background-color:black;
    width: 100px;
    height: 100px;
    font-size: 2rem;
}

#d4button {
    background-image: url('images/dice-clipart-four-4.png');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-color:black;
    font-size: 2rem;
}

#d8button {
    background-image: url('images/D8.png');
    background-size:cover;
}

#d10button{
    background-image:url('images/d10.png');
    background-size:cover;
}

#d12button {
    background-image: url('images/d12.png');
    background-size:cover;
}

#d20button {
    background-image:url('images/d20.png');
    background-size:cover;
}

#nameline {
    font-weight: 1000;
    font-style: italic;
}